#main {
    color :springgreen;
}
h1{
    text-align : center;
    border-bottom: 1px black solid;
    margin : 0px;
    padding : 20px;
    font-size : 60px;
}
#grid{
    display : grid;
    grid-template-columns:1fr 10fr;
}
ul{
    border-right:1px solid black;
    margin : 0;
    width:150px;
    padding : 20px;
}
.area{
    padding : 20px;
}
body{
    margin : 0;
}
a{
    text-decoration-line : none;
}
@media(max-width : 700px){
    #grid{
        grid-template-columns:none;
    }
    h1{
        text-align:center;
        border-bottom: none;
    }
    ul{
        border-right: none;
    }
}